build>=0.10.0
installer>=0.7.0
rasa==3.6.20
rasa-sdk==3.6.2
aiohttp==3.9.5
fire==0.7.0
termcolor>=2.4.0
coloredlogs>=10.0.0,<16.0.0
python-socketio>=5.11.4,<6.0.0
websockets>=10.4,<11.0.0
questionary>=1.10.0,<1.11.
